body {
    background-image: url("Capture.PNG");
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #44a7aa;
padding: 10px;
float: none;
text-align: left;
}

    h1 {
        font-variant:small-caps;
        font-size: 60px;
        color:rgb(54, 82, 94);
      }
    
      #divtitle2 {
        background-color: rgba(35, 52, 59, 0.247);
      }

      #wordinput1, #wordinput2 {
          width:50%;
      }

      #playername1, #playername2 {
          margin-left: 10px;
      }